
/* Custom styles to align with Material Design */
            body {
                font-family: 'Open Sans', sans-serif;
                color: #212327;
                background-color: #EFF1F4;
            }
         /* darkmode */
        @media (prefers-color-scheme: dark){
            body {
                font-family: 'Open Sans', sans-serif;
                color: #D4DBDF;
                background-color: #202122;
            }
        }