/* Custom styles to align with Material Design */
            body {
                font-family: 'Open Sans', sans-serif;
                color: #212327;
                background-color: #EFF1F4;
            }
        .material-card {
        }
        /* Typography Styles */
        .text-5xl {
            font-weight:bold;
            color:#202732;
        }
        .text-4xl {
            font-weight:bold;
            color:#394352;
        }
        .text-3xl {
            color:#394352;
        }
        .text-2xl {
            color:#566377;
        }
        .text-base {
            color: #6B7788;
        }
        /* Button styles */
        .btn {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            transition: background-color 0.3s ease;
            border-radius: 4px;
        }
        .btn-primary {
            background-color: #4452E3;
            font-weight: bold;
            color:#EEEEF3 ;
        }
        .btn-primary:hover {
            background-color: #3944B9;
        }
        .btn-secondary {
            background-color: #61BDFF;
            font-weight: bold;
            color: #202732;
        }
        .btn-secondary:hover {
            background-color: #3E98D8;
        }
        .btn-tertiary {
           background-color: #E4F4FF;
           font-weight: bold;
           color: #202732;
        }
        .btn-tertiary:hover {
           background-color: #C0D9EB;
        }
        /* Text Field styles */
        .input-field {
            border: 1px solid #B4BCC7;
            border-radius: 4px;
            transition: border-color 0.3s ease;
        }
        .input-field:focus {
            outline: none;
            border-color: #4452E3;
            box-shadow: 0 0 0 2px #C0D9EB;
        }
        .input-with-icon .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #757575;
        }
        .input-with-icon .icon-left {
            left: 0.75rem; /* 12px */
        }
        .input-with-icon .input-left-icon {
            padding-left: 2.5rem; /* 40px */
        }
         /* darkmode */
        @media (prefers-color-scheme: dark){
            body {
                font-family: 'Open Sans', sans-serif;
                color: #D4DBDF;
                background-color: #202122;
            }
            .material-card {
            }
            /* Typography Styles */
            .text-5xl {
                font-weight:bold;
                color:#F4F7F9;
            }
            .text-4xl {
                font-weight:bold;
                color:#F4F7F9;
            }
            .text-3xl {
                color:#E9EEF0;
            }
            .text-2xl {
                color:#E9EEF0;
            }
            .text-base {
                color: #D4DBDF;
            }
            /* Button styles */
            .btn {
                text-transform: uppercase;
                letter-spacing: 0.05em;
                transition: background-color 0.3s ease;
                border-radius: 4px;
            }
            .btn-primary {
                background-color: #4452E3;
                font-weight: bold;
                color:#EEEEF3 ;
            }
            .btn-primary:hover {
                background-color: #3944B9;
            }
            .btn-secondary {
                background-color: #61BDFF;
                font-weight: bold;
                color: #202732;
            }
            .btn-secondary:hover {
                background-color: #3E98D8;
            }
            .btn-tertiary {
               background-color: #273743;
               font-weight: bold;
               color: #3E98D8;
            }
            .btn-tertiary:hover {
               background-color: #2E5672;
            }
            /* Text Field styles */
            .input-field {
                border: 1px solid #B4BCC7;
                background-color: #202122;
                border-radius: 4px;
                transition: border-color 0.3s ease;
            }
            .input-field:focus {
                outline: none;
                border-color: #4452E3;
                box-shadow: 0 0 0 2px #C0D9EB;
            }
            .input-with-icon .icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #757575;
            }
            .input-with-icon .icon-left {
                left: 0.75rem; /* 12px */
            }
            .input-with-icon .input-left-icon {
                padding-left: 2.5rem; /* 40px */
            }
        }